*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* background-color: #edede4; */
  /* color: black; */
  font-family: sans-serif;
  /* overflow-x: hidden; */
}

.bg{
  background-color: whitesmoke;
}

.ck-editor__editable {
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}
